.assetActionIconButton {
  width: 28px;
  height: 28px;
  min-width: 28px;
  padding: 6px;
  background-color: var(--color-background-paper);
  border-radius: 4px;
}

.assetActionIconButton:hover {
  background-color: var(--color-background-main);
}
