.assetActionIconButton {
  width: 28px;
  height: 28px;
  min-width: 28px;
  padding: 6px;
  background-color: var(--color-background-paper);
  border-radius: 4px;
}

.assetActionIconButton:hover {
  background-color: var(--color-background-main);
}

.assetActionIconButton svg {
  width: 16px;
  height: 16px;
  color: inherit;
}

.sendButton {
  height: 32px;
  padding-left: var(--space-2);
  padding-right: var(--space-2);
}
