.image {
  display: block;
  width: auto;
  background: transparent;
}

.chainIcon {
  position: absolute;
  bottom: 0px;
  right: -8px;
  background-color: var(--color-background-paper);
  border: 1px solid var(--color-border-background);
  border-radius: 100%;
  width: 20px;
  height: 20px;
  padding: 0;
}

.badge {
  position: absolute;
  bottom: -2px;
  right: -2px;
  background-color: var(--color-background-paper);
  border: 2px solid var(--color-background-paper);
  border-radius: 100%;
  overflow: hidden;
  width: 16px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}
