.content {
  min-height: calc(100vh - 100px); /* Header + padding height */
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contentInner {
  background-color: var(--color-background-paper);
  max-width: 500px;
  padding: var(--space-5);
  border-radius: var(--space-1);
  position: relative;
  z-index: 1;
}

.contentBg {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  pointer-events: none;
}

.iconBG {
  width: 40px;
  height: 40px;
  background-color: var(--color-background-main);
  border-radius: 50%;
  margin-bottom: var(--space-2);
  display: flex;
  align-items: center;
  justify-content: center;
}

.image {
  max-width: 100%;
  height: auto;
}

.chainIndicator {
  width: 100%;
  height: 4px;
  background-color: var(--color-background-main);
  border-radius: 5px;
}

.chainIndicatorColor {
  width: 100%;
  display: block;
  height: 100%;
  border-radius: 5px;
}

.txCard {
  padding: var(--space-2);
  border-radius: 6px;
  position: relative;
  z-index: 1;
  border: 0;
}

.txIcon {
  width: 80px;
  height: 80px;
  position: absolute;
  top: -30px;
  right: -30px;
  z-index: -1;
}