.container {
  display: flex;
  align-items: center;
  gap: 0.5em;
  line-height: 1.4;
  min-width: 0;
}

.email {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  min-width: 0;
}
