.checkIcon {
  height: 24px;
  width: 24px;
  color: var(--color-success-main);
  background: var(--color-secondary-background);
  border-radius: var(--space-2);
  padding: 4px;
  align-self: flex-end;
}

.chainIndicator {
  min-width: 0;
  margin-left: var(--space-1);
}
