.container {
  height: 100vh;
  padding-top: var(--header-height);
  display: flex;
  overflow: hidden;
  flex-direction: column;
  background-color: var(--color-background-paper);
  width: 230px;
}

.scroll {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;
}

.drawer {
  width: 550px;
  max-width: 90vw;
  padding-top: var(--header-height);
  overflow-y: auto;
  height: 100%;
}

.dataWidget {
  margin-top: var(--space-4);
  border-top: 1px solid var(--color-border-light);
}

.noSafeHeader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  min-height: 100px;
}

@media (max-width: 899.95px) {
  .container {
    padding-top: var(--header-height);
  }

  .drawer {
    max-width: 90vw;
  }
}
