.actionsHeader {
  border-bottom: 1px solid var(--border);
  cursor: auto !important;
  padding: var(--space-2);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.compactHeader {
  border: 0;
  padding: 0 0 var(--space-2);
}

.actionsHeader button {
  padding-left: 18px;
  padding-right: 18px;
}

.divider {
  height: 1rem;
}

.compact {
  display: flex;
  flex-direction: column;
  gap: var(--space-2);
}
