.container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.feesHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.gradientTag {
  background: linear-gradient(90deg, var(--color-secondary-light) 0%, var(--color-info-light) 99.5%);
  color: var(--color-static-main);
  padding: 0 6px;
  border-radius: 4px;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 16px;
  display: inline-flex;
  align-items: center;
  gap: 4px;
  height: 24px;
}

.feeBreakdownWide {
  border: 1px solid var(--color-border-light);
  border-radius: 8px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.feeRow {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.feeLabel {
  display: flex;
  align-items: center;
  gap: 8px;
}
