.optimismBadge {
  background-color: var(--color-secondary-dark);
  color: white;
}

.description {
  color: var(--color-primary-light);
}

.container {
  padding: 12px 24px;
}
.container p {
  margin: 0;
}
.amountButton {
  min-width: 42px;
  max-width: 60px;
  height: 56px;
}

.topUpButton {
  height: 56px;
  font-size: 16px;
  font-weight: 600;
  width: 100%;
  max-width: fit-content;
}

.noun {
  width: 40px;
  height: 40px;
  border-radius: 15%;
}

.select {
  /* color: white; */
  font-weight: 600;
  /* background-color: black; */
}
