.outline {
  border: 1px solid var(--color-border-light);
  border-radius: 6px;
}

.error {
  border-color: var(--color-error-main);
}

.error :global(.MuiFormLabel-root) {
  color: var(--color-error-main);
}

.label {
  background-color: var(--color-background-paper);
  padding-left: 6px;
  padding-right: 6px;
  margin-left: -6px;
}

.inputs {
  display: inline-flex;
  align-items: center;
}

.amountContainer {
  display: flex;
  align-items: center;
  min-width: 130px;
  flex-grow: 1;
}

.amount {
  width: 100%;
}

.amount :global(.MuiInput-input) {
  padding-left: var(--space-2);
}

.endAdornment {
  display: flex;
  align-items: center;
  gap: var(--space-1);
  padding-right: var(--space-2);
}

.fiatValue {
  white-space: nowrap;
}

.max {
  text-transform: uppercase;
  background-color: var(--color-background-main);
  color: var(--color-text-primary);
  font-size: 11px;
  min-height: auto;
  height: auto;
  padding: var(--space-1) var(--space-2);
  line-height: 1.2;
}

.select {
  flex-shrink: 0;
}

.select :global(.MuiSelect-select) {
  margin: var(--space-1);
  display: flex;
  background-color: var(--color-background-main);
  border-radius: 6px;
  padding: var(--space-1) var(--space-5) var(--space-1) var(--space-2) !important;
}

.select :global(.MuiSelect-icon) {
  margin-right: var(--space-2);
}
