.collapsedCell {
  padding: 0px !important;
  transition: padding 300ms ease-in-out;
}

.collapsedRow {
  border-bottom: none !important;
}

.balanceBreakdown {
  margin: var(--space-2) 0;
  margin-left: var(--space-4);
}

.title {
  padding-bottom: var(--space-2);
}

.row > td span{
  font-size: 14px !important;
}
