.indicator {
  display: flex;
  align-items: center;
  min-width: 70px;
  font-size: 12px;
  justify-content: center;
  font-family: 'DM Sans', sans-serif;
}

.inlineIndicator {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  min-width: 70px;
  font-size: 12px;
  font-weight: 500;
  line-height: normal;
  text-align: center;
  border-radius: 9999px;
  padding: 4px 10px;
  font-family: 'DM Sans', sans-serif;
  color: #737373;
  background-color: #FAFAFA;
}

.withLogo {
  display: flex;
  align-items: center;
  gap: var(--space-1);
  padding: 0;
  min-width: 115px;
  font-size: 14px;
  justify-content: flex-start;
  font-family: 'DM Sans', sans-serif;
}

.onlyLogo {
  min-width: 0;
}

@media (max-width: 899.95px) {
  .indicator {
    min-width: 35px;
  }
  .responsive {
    min-width: 0;
  }
  .responsive .name {
    display: none;
  }
}

@container my-accounts-container (max-width: 500px) {
  .responsive {
    min-width: 0;
  }
  .responsive .name {
    display: none;
  }
}
