.container {
  container-type: inline-size;
  container-name: my-orgs-container;
  display: flex;
  justify-content: center;
}

.myOrgs {
  width: 100vw;
  max-width: 750px;
  margin: var(--space-2);
}

.orgsHeader {
  display: flex;
  justify-content: space-between;
  padding: var(--space-3) 0;
  gap: var(--space-2);
}
