.container .sticky {
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  width: 15%;
  transition: opacity 0.2s;
  height: 100% !important;
  display: flex;
  align-items: center;
}

.container tr:hover .sticky {
  opacity: 1;
}

.container td {
  position: relative;
}

.container tr:last-of-type {
  border-bottom-color: transparent;
}

.token {
  display: flex;
  align-items: center;
  gap: var(--space-1);
  position: relative;
  z-index: 1;
}

.chainBadge img {
  border-radius: 4px;
}

.chainBadge span {
  color: var(--color-primary-light);
}

.chainBadgeSecondary span {
  color: var(--color-text-secondary);
}

.symbol {
  padding-left: var(--space-1);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.weightBadge {
  background-color: var(--color-background-light-grey);
  color: var(--color-text-primary);
  padding: var(--space-0-5) var(--space-1);
  border-radius: 6px;
  letter-spacing: 1px;
}

.protocolIcon {
  border-radius: 50%;
  overflow: hidden;
  display: flex;
}

@media (max-width: 599.95px) {
  .container td:last-of-type,
  .container th:last-of-type {
    display: none;
  }
}
