.outline {
  border: 1px solid var(--color-border-light);
  border-radius: 6px;
}

.error {
  border-color: var(--color-error-main);
}

.error :global(.MuiFormLabel-root) {
  color: var(--color-error-main);
}

.label {
  background-color: var(--color-background-paper);
  padding-left: 6px;
  padding-right: 6px;
  margin-left: -6px;
}

.inputs {
  display: flex;
}

.amount {
  min-width: 130px;
  flex-grow: 1;
}

.amount :global(.MuiInput-input) {
  padding-left: var(--space-2);
}

.max {
  text-decoration: underline;
  cursor: pointer;
}

.select {
  padding-top: 0;
  padding-bottom: 0;
}

.select :global(.MuiSelect-select) {
  margin: 0 var(--space-1);
  display: flex;
  height: 100%;

  background-color: var(--color-static-main);
  color: white;
  border-radius: 6px;
  padding: 0 var(--space-1) !important;
}

.select :global(.MuiSelect-icon) {
  margin-right: var(--space-2);
}
