.loginPage {
  display: flex;
  width: 100%;
  min-height: 100vh;
}

.loginContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.rightSide {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  overflow: hidden;
  background: #121312;
}

.leftSide {
  position: relative;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  background-color: #fff;
}

.logoContainer {
  padding: var(--space-2);
}

.logo {
  color: #000;
}

.rightContent {
  margin: auto;
  text-align: center;
  margin: var(--space-8) auto;
  max-width: 350px;
}

.label {
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1px;
  color: #7f7f7f;
}

.mainTitle {
  font-size: 32px;
  font-weight: 700;
  line-height: 117%;
  color: #ffffff;
  margin-top: var(--space-2);
}

.mockupImageContainer {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}

.mockupImage {
  max-width: 50vw;
}

@media (max-width: 1199.95px) {
  .loginPage {
    flex-direction: column;
    min-height: 100vh;
  }

  .rightSide {
    width: 100%;
  }

  .leftSide {
    width: 100%;
    position: unset;
    padding-bottom: var(--space-12);
  }

  .mockupImage {
    max-width: 100vw;
    margin-bottom: 59px;
  }
}

@media (max-width: 599.95px) {
  .mockupImage {
    max-width: 100vw;
    margin-bottom: 79px;
  }
}
