# Used on the javascript side
EXPO_PUBLIC_APP_VARIANT=production
EXPO_PUBLIC_INFURA_TOKEN=****
EXPO_PUBLIC_SECURITY_RASP_ENABLED=false
EXPO_PUBLIC_SECURITY_WATCHER_MAIL=

# Datadog RUM
EXPO_PUBLIC_DD_CLIENT_TOKEN=
EXPO_PUBLIC_DD_APPLICATION_ID=
EXPO_PUBLIC_DD_ENV=production
EXPO_PUBLIC_DD_SITE=EU1
# Set to "true" for verbose DD logs, frequent uploads, and 100% session sampling
# EXPO_PUBLIC_DD_DEBUG=true

# Used during the build process
APP_VARIANT=production
GOOGLE_SERVICES_PLIST_DEV=./GoogleService-Info-Dev.plist
GOOGLE_SERVICES_JSON=./google-services.json
GOOGLE_SERVICES_JSON_DEV=./google-services-dev.json
GOOGLE_SERVICES_PLIST=./GoogleService-Info.plist
