.banner {
  display: flex;
  align-items: center;
  background-color: #effcff;
  border-radius: 4px;
  padding: 8px 16px;
}

.iconContainer {
  display: flex;
  align-items: center;
  padding-right: 12px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.icon {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}

.messageContainer {
  flex: 1;
  min-width: 0;
}

.message {
  color: #121312;
  line-height: 20px;
  font-family: 'DM Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.17px;
}
