.item {
  padding-left: var(--space-1);
}

.icon {
  min-width: 38px;
}

.globalInfo {
  border-radius: 6px;
  border: 1px solid var(--color-secondary-light);
  background-color: var(--color-secondary-background);
  padding: var(--space-2);
}
