.currentLevelTitle {
  background-color: var(--color-secondary-main);
  width: fit-content;
  padding: 6px 12px 6px 12px;
  border-radius: 6px 6px 0px 0px;
}

.currentLevelInfo {
  border: 2px solid var(--color-secondary-main);
  padding: 12px;
  border-radius: 0px 6px 6px 6px;
}
