.list {
  padding-left: 8px;
  padding-right: 8px;
}

.icon {
  min-width: 0;
  margin-right: var(--space-2);
}

.icon svg {
  width: 16px;
  height: 16px;
}

.icon svg path {
  fill: var(--color-logo-main);
}

.listItemButton {
  border-radius: 6px;
  padding-top: var(--space-1);
  padding-bottom: var(--space-1);
  color: var(--color-text-primary);
  cursor: pointer;
}

.listItemButton:hover {
  border-radius: 6px;
  background-color: var(--color-background-light);
}

.listItemButton[data-selected] {
  border-radius: 6px;
  background-color: var(--color-background-main);
}

[data-theme='dark'] .listItemButton[data-selected] {
  background-color: var(--color-border-light);
}

.listItemButton :global .beamer_icon.active {
  top: auto;
  left: 28px;
  bottom: 10px;
  width: 6px;
  height: 6px;
  color: transparent;
}
