.banner {
  position: relative;
  padding: var(--space-2) var(--space-8) var(--space-2) var(--space-2);
  background: linear-gradient(90deg, #b0ffc9, #d7f6ff);
  border: 0;
  border-radius: 12px;
  height: 100%;
}

.dark {
  /* Dark background gradient */
  background: linear-gradient(90deg, #1c5538 0%, #1c1c1c 54.327%, #1c1c1c 100%);
}

.closeButton {
  color: var(--color-static-main);
  position: absolute;
  top: var(--space-2);
  right: var(--space-2);
}

.bannerImage,
.bannerText {
  pointer-events: none;
  user-select: none;
}

@media (max-width: 599.95px) {
  .banner {
    padding: var(--space-2);
  }
}