.banner {
  position: relative;
  padding: var(--space-2) var(--space-8) var(--space-2) var(--space-2);
  background: linear-gradient(90deg, #b0ffc9, #d7f6ff);
  border: 0;
  border-radius: 12px !important;
  height: 100%;
  min-height: 131px;
}

.bannerStack {
  display: inline-flex;
  flex-wrap: nowrap;
}

.bannerContent {
  padding-right: 0;
}

.bannerTitle {
  color: var(--color-static-main);
  font-weight: bold;
}

.bannerDescription {
  color: var(--color-static-light);
  padding-top: 4px;
}

.bannerCta {
  color: var(--color-static-main) !important;
  margin-top: 8px !important;
  margin-left: 0 !important;
  padding: 0 !important;
  padding-top: 8px !important;
}

.bannerCta :global(.MuiButton-endIcon) {
  margin-left: 4px !important;
}

.closeButton {
  position: absolute !important;
  color: var(--color-static-main);
  top: var(--space-2);
  right: var(--space-2);
  padding: 10px;
  padding-top: 12px;
  width: 16px;
  height: 16px;
}

.closeButton:hover {
  background-color: transparent;
}

.closeIcon {
  color: var(--color-static-main);
  opacity: 1;
}

.bannerImage,
.bannerText {
  pointer-events: none;
  user-select: none;
}

@media (max-width: 599.95px) {
  .banner {
    padding: var(--space-2);
  }

  .bannerContent {
    padding-right: var(--space-5);
  }
}

@media (min-width: 600px) {
  .bannerContent {
    padding-right: 0;
  }
}
