.badgeContainer {
  width: clamp(200px, 100%, 250px);
  padding: 24px;
  cursor: pointer;
}

.badgeContainer > div {
  padding: 0;
}

.hearth {
  position: absolute;
  top: 0;
  right: 0;
}

.unclaimed {
  opacity: 0.5;
}
