.withExecutionMethod {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.error :global .MuiAccordion-root.Mui-expanded {
  border-color: var(--color-error-light);
}

.error :global .MuiAccordionSummary-root.Mui-expanded {
  background-color: var(--color-error-background);
  border-bottom: 1px solid var(--color-error-light);
}

.error :global .MuiAccordionSummary-expandIconWrapper {
  margin-left: var(--space-1);
}

.feeContainer {
  display: flex;
  align-items: center;
  gap: var(--space-1);
}

.feeAmount {
  font-weight: 600;
}

.strikethrough {
  text-decoration: line-through;
  color: var(--color-text-secondary);
  font-size: 0.75rem;
}

.noFeeCampaignTag {
  background: linear-gradient(90deg, #b0ffc9 0%, #d7f6ff 99.5%);
  color: black;
  padding: 2px 8px;
  border-radius: 4px;
  font-size: 0.75rem;
  font-weight: 400;
  letter-spacing: 1px;
}

.remainingCounter {
  color: var(--color-text-secondary);
  font-size: 0.75rem;
  font-weight: 400;
}
