.container {
  margin-top: var(--space-1);
  padding: var(--space-1) var(--space-2);
  background-color: var(--color-background-main);
  border-radius: 6px;
}

.label {
  color: var(--color-text-secondary);
}

.value {
  word-break: break-all;
}
