.container {
  margin-top: var(--space-1);
  padding: var(--space-1) var(--space-2);
  background-color: var(--color-background-main);
  border-radius: 6px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: var(--space-1);
}

.row {
  display: flex;
  gap: var(--space-1);
  align-items: baseline;
}

.label {
  min-width: 96px;
  flex-shrink: 0;
}

.value {
  word-break: break-all;
}
