.noBottomBorderRadius :global([data-slot='accordion-item']) {
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.noTopBorder > div {
  margin-top: -1px;
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}
