.summary {
  display: flex;
  gap: 8px;
  align-items: center;
}

.actions {
  margin-left: auto;
  border-left: 1px solid var(--color-border-light);
  border-right: 1px solid var(--color-border-light);
  margin-right: 16px;
  padding: 8px;
  margin-top: -16px;
  margin-bottom: -16px;
  align-items: center;
  display: flex;
}
