.title {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: var(--space-1);
}

.title > svg {
  margin-bottom: var(--space-2);
}

.title > svg > path {
  fill: black;
}

.row {
  width: 100%;
  padding: var(--space-4) var(--space-7);
}

@media (max-width: 599.95px) {
  .row {
    padding: var(--space-2);
  }
}
