.status {
  padding: 0;
  font-family: 'DM Sans', sans-serif;
}

.status::before {
  content: '';
  position: absolute;
  border-left: 2px solid #f0f0f0;
  left: 7px;
  top: 20px;
  height: calc(100% - 40px);
}

.status :global .MuiListItem-root:first-of-type {
  padding-top: 0;
}

.status :global .MuiListItem-root {
  padding-left: 0;
  padding-right: 0;
}

.status :global .MuiListItemIcon-root {
  color: #22c55e;
  justify-content: center;
  min-width: auto;
  padding: var(--space-1);
  padding-left: 0;
  background-color: var(--color-background-main);
}

[data-theme='light'] .status :global .MuiListItemIcon-root {
  color: #22c55e;
}

.incomplete > * {
  color: #a1a3a7 !important;
}

.close {
  color: var(--color-border-main);
  padding: var(--space-2);
  border-left: 1px solid #f0f0f0;
  border-radius: 0;
  margin-left: auto;
  display: none;
}

.badge {
  margin-left: var(--space-1);
  padding-right: 2px;
  border-radius: 9999px;
  width: 20px;
  height: 20px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #121312;
  color: #12FF80;
  font-family: 'DM Sans', sans-serif;
  font-size: 10px;
  font-weight: 700;
}

[data-theme='dark'] .badge {
  background-color: var(--color-primary-main);
  color: var(--color-text-secondary);
}

@media (max-width: 899.95px) {
  .header {
    padding: 0;
    flex-direction: row;
  }

  .logo {
    width: 24px;
    height: 24px;
    margin-left: 16px;
  }

  .close {
    display: flex;
  }
}
