.badge {
  margin-left: var(--space-1);
  padding-right: 2px;
  font-size: 0.75rem;
  line-height: 1rem;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-text-primary);
  color: var(--color-logo-background);
}

[data-theme='dark'] .badge {
  background-color: var(--color-primary-main);
  color: var(--color-text-secondary);
}
