.container {
  border: 1px solid var(--color-border-light);
}

.method {
  padding: var(--space-2) var(--space-2) var(--space-1) var(--space-2);
}

.label {
  color: var(--color-text-secondary);
}

.radioLabel {
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: calc(var(--space-1) / 2);
}

.noFeeNovemberBadge {
  background: linear-gradient(90deg, #b0ffc9 0%, #d7f6ff 99.5%);
  padding: 2px 8px;
  border-radius: 4px;
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 1px;
  color: var(--text-primary);
  margin-left: var(--space-1);
}

.noFeeNovemberCounter {
  padding: var(--space-2);
  background-color: var(--color-background-light);
  border-top: 1px solid var(--color-border-light);
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: var(--text-secondary);
}
