.button {
  background-color: var(--color-background-main);
  border-color: var(--color-background-main);
  color: var(--color-text-primary);
  font-weight: bold;
  text-decoration: none;
  gap: var(--space-2);
  padding-top: var(--space-1);
  padding-bottom: var(--space-1);
  min-height: 40px;
}

.button:hover {
  background-color: var(--color-background-main);
  border-color: var(--color-background-main);
  text-decoration: none;
}

.hypernativeIcon {
  margin-right: 0;
  margin-left: 0;
}

.hypernativeIcon svg {
  width: 9px;
  height: 16px;
  display: block;
}

@media (max-width: 410px) {
  .button {
    font-size: 12px;
  }

  .hypernativeIcon {
    width: 14px !important;
    height: 14px !important;
  }
}
