.banner {
  padding: var(--space-1);
  background-color: var(--color-background-main) !important;
  border: 1px solid var(--color-background-main);
  border-radius: var(--space-1);
  width: 100%;
}

.content {
  gap: var(--space-1);
}

.hypernativeIcon svg {
  width: 9px;
  height: 16px;
  display: block;
}

/* Hide hypernative icon in dark theme - TODO find out if it is needed? No icon in the dark theme on Figma */
[data-theme='dark'] .hypernativeIcon {
  display: none;
}

.text {
  color: var(--color-text-primary);
  font-weight: bold !important;
}

.externalLinkIcon {
  width: 16px;
  height: 16px;
  color: var(--color-text-primary);
  flex-shrink: 0;
}

.link {
  text-decoration: none;
  display: block;
  cursor: pointer;
}

.link:hover .banner {
  opacity: 0.9;
}

@media (max-width: 410px) {
  .text {
    font-size: 12px !important;
  }

  .externalLinkIcon,
  .hypernativeIcon {
    width: 14px !important;
    height: 14px !important;
    margin-left: 0 !important;
  }
}