.highlight {
  position: relative;
  isolation: isolate;
}

.highlight::after {
  content: '';
  position: absolute;
  inset-inline: -3px;
  bottom: 4px;
  z-index: -1;
  height: 6px;
  background-color: color-mix(in srgb, var(--color-static-text-brand) 50%, white);
}
