.safenetDisplay {
  border: 1px solid transparent;
  background-image:
    radial-gradient(var(--color-secondary-background) 0%, var(--color-secondary-background) 100%),
    radial-gradient(119.01% 132.63% at 119.01% -14.15%, rgba(255, 95, 0, 0.3) 0%, rgba(255, 210, 0, 0.3) 50%, rgba(18, 255, 128, 0.3));
  background-origin: border-box;
  background-clip: padding-box, border-box;
  padding: 8px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 0;
}

.tags {
  display: flex;
  padding-left: var(--space-3);
  gap: var(--space-1);
  justify-content: flex-end;
}

.tag {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--space-1);
  padding: 6px 8px;
  border: 1px solid transparent;
  border-radius: 20px;
  background-image: radial-gradient(var(--color-secondary-background) 0%, var(--color-secondary-background) 100%),
    radial-gradient(119.01% 132.63% at 119.01% -14.15%, #ff5f00 0%, #ffd200 50%, #12ff80 100%);
  background-origin: border-box;
  background-clip: padding-box, border-box;
}
